*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
  background-color: #30B868;
  color:white;
  border: none;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
}
nav li {
  list-style: none;
} 
.btn:hover{
  background-color: #279e57;

}
header{
  background-color: #FFFFFF;
  padding: 20px 120px;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
display: flex;
justify-content: space-between;
gap: auto;
align-items: center;
}
nav .menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  gap: 70px;

}
nav .menu a
{
font-size: 16px;
color: #000000;
text-decoration: none;
gap: 32px;
gap: auto;
}
.banner{
  background-image:url("/assets/hero-bg.png");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  background-color: #0f172a;
  padding:60px 0 30px;
  color: #ffffff;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 140px;
  height: auto;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 22px;
  height: auto;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: translateY(-3px);
}
.footer hr {
  border: none;
  border-top: 1px solid #334155;
  margin-bottom: 20px;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #cbd5f5;
}
