*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
  background-color: #30B868;
  color:white;
  border: none;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
nav li {
  list-style: none;
} 
.btn:hover{
  background-color: #279e57;

}
header{
  background-color: #FFFFFF;
  padding: 20px 120px;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
display: flex;
justify-content: space-between;
gap: auto;
align-items: center;
}
nav .menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  gap: 70px;

}
nav .menu a
{
font-size: 16px;
color: #000000;
text-decoration: none;
gap: 32px;
gap: auto;
}
.banner{
  background-image:url("/assets/hero-bg.png");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.highlight{
  color: #30B868;
  
}
.banner p {
  padding: 20px;
}
.btn-outline { background: transparent; 
             border: 1px solid white; 
             color: white; 
             margin-left: 10px; 
              padding: 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
            }


.notes h2 {
    text-align: center;
    padding: 20pxgi;
}
.notes .subtitle {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.card {
    padding: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

.icon-box {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.bg { background-color:#F95555 }

.second-brain {
    display: flex;
    align-items: center;
    padding: 80px 8%;
    gap: 50px;
}

.brain-image, .brain-text { flex: 1; }

.check-list {
    list-style: none;
    margin-top: 20px;
}

.check-list li::before {
    content: "✔️";
    margin-right: 10px;
}

/* Early Access Box */
.early-access {
    padding: 80px 8%;
}

.cta-box {
    background-color: #f9f9f9;
    padding: 60px;
    text-align: center;
    border-radius: 15px;}
    .section3 p{
      padding: 20px;
    }

.footer {
  background-color: #0f172a;
  padding:60px 0 30px;
  color: #ffffff;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 140px;
  height: auto;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 22px;
  height: auto;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: translateY(-3px);
}
.footer hr {
  border: none;
  border-top: 1px solid #334155;
  margin-bottom: 20px;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #cbd5f5;
}
